<ion-header>
  <ion-navbar color="dark" text-uppercase text-center>
    <ion-title>
      Payleven tax calculator
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-sm col-12>
        <ion-card>
          <ion-card-header color="primary">
            Quanto você irá receber?
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label floating>Valor R$</ion-label>
                <ion-input type="number" [(ngModel)]="payment"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label floating>Forma de pagamento</ion-label>
                <ion-select [(ngModel)]="paymentOption" [compareWith]="areTwoPaymentOptionsEqual">
                  <ion-option *ngFor="let paymentOption of paymentOptions" [value]="paymentOption">
                    {{ paymentOption.name }} - Taxa: {{ paymentOption.tax | percent:'1.2-2' }}
                  </ion-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-card-content>

          <button
              ion-item
              text-uppercase
              text-center
              color="dark"
              (click)="setCalculateClicked()"
              [disabled]="!areInputsValid"
          >
            Calcular
          </button>
        </ion-card>
      </ion-col>

      <ion-col col-sm col-12>
        <ion-card *ngIf="areInputsValid && calculateClicked">
          <ion-card-header class="results-header" color="secondary">
            Quanto você deverá cobrar:
          </ion-card-header>
          <ion-card-content *ngIf="paymentOption">
            <ion-list>
              <ion-item>
                {{ paymentAdjusted | currency:'BRL' }}
              </ion-item>
              <ion-item *ngIf="paymentOption.installments > 1" text-wrap>
                será pago em {{ paymentOption.installments }}x
                de {{ paymentAdjusted  / paymentOption.installments | currency:'BRL' }}
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <a
    ion-item
    text-center
    color="light"
    href="//github.com/mracos/payleven-tax-calculator"
    target="_blank"
  >
    Veja também no
    <ion-icon name="logo-github"></ion-icon>
  </a>
</ion-footer>
