page-home {
  ion-content {
    background: linear-gradient(
      top,
      color($colors, primary),
      color($colors, light)
    );
  }

  ion-card-header {
    font-weight: bold;
    border-bottom: 1px solid color($colors, primary);
  }
}
